body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}
span{
  font-style: italic;
  color: gray;
}

h1{
  border-bottom: solid;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  border-top: solid;
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}
img{
  width: 30px;
}
nav > ul{
  border-bottom: solid black 1px;
}


